.sort-container {
	position: absolute;
	left: 100px;
	width: calc(52px * 12);
	height: calc(500px + 100px);
	outline: solid;
}

.sort-bar {
	position: absolute;
	width: 50px;
}

.flagged {
	background-color: pink;
	color: pink;
	background: pink;
}
